@charset "UTF-8";
/* ///////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////// */
html, body {
	height: 100%;
	margin: 0;
}
#top_firstView {
	height: 100%;
}
/*
		ヘッダー
					*/
					
.head {
	magin: 0 aute;
	height: 15%;
}
.head_btn {
	height: 45%;
}
.head_btnLeft {
	float: left;
	height: 100%;
}
#head_mcsLogo {
	max-height: 100%;
	width: auto;
}
.head_btnRight {
	float: right;
	padding: 0;
	height: 100%;
}
.head_btnRight ul {
	padding : 0;
	margin : 0;
}
.head_btnLink {
	float: left;
	height: 90%;
	margin: 0;
	list-style: none;
}
.head_map {
	clear: both;
	text-align: center;
	border-bottom: 0.4em solid #525252;
	padding: 0;
	margin: 0;
	background-color: #DBDBDB;
	height: 50%;
}
.head_map a {
	color: #000000;
	text-decoration: none;
	font-size: 1.2em;
}
.head_map ul {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 0;/*inline-block間の隙間をなくす*/
}
/*マップボタンの幅と位置を管理*/
a.head_mapLink {
	width: 15%;
	padding: 0;
	display: inline-block;
}
.head_mapLink {
	list-style: none;
	height: 100%;
	width: 100%;
	font-size: 24px;/*親要素の文字サイズが0であるため追加*/
}
#head_mapThis {
	background-color: #525252;
	color: white;
}
#head_mapThis a {
	color: #ffffff;
}
/*
		中身		*/
		
		

.top_topWrapper {
	height: 85%;
	background-image: url("top_top.jpg");
	background-size: cover;
	color: white;
	text-align: center;
	position: relative;
}
.top_topMCSWrap {
	height: 90%;
	text-align: center;
}
.top_topName {
	margin : auto;
	width: 12em;
	color: black;
	border: 0.15em solid black;
	background-color: rgba(255,255,255,0.7);
}
.top_topKansai {
	font-size: 1em;
	width: 90%;
	border-bottom: 0.15em solid black;
	margin: 0.5em auto;
}
.top_topMCS {
	font-size: 2em;
	margin: 0.1em auto;
}
#top_topUnder {
	height: 10%;
	margin : 0 auto;
	background-image: url("top_topUnder.png");
	background-size: contain;
}
/*
	 Topページコンテンツ
						*/
.top_mainWrapper {
	height: 180%;
}
.top_mainContainer {
	margin: 0;
}
#SNSwrapper {
	margin: 0 auto;
	text-align: center;
	font-size: 1em;
}
#top_mainContainerTwitter, #top_mainContainerFacefoock {
	display: inline-block;
	margin :0;
}
.top_mainObject {
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
.top_mainNameContainerWrapper {
	width: 90%;
	font-size: 0;/*inline-block間の隙間を埋める*/
	margin: 0 auto 20px auto;
}
.top_mainNameContainerWrapperRight {
	text-align: right;
}
.top_mainNameContainerWrapperLeft {
	text-align: left;
}
 .top_mainNameContainerWrapperSNS{
	width:82%; 
 }

/*idごとに矢印の長さを調節*/
.top_mainNameContainer {
	border-bottom: 0.2em solid black;
	display: inline-block;
}
#top_mainNameContainerNow {
	font-size: 25px;
	width: 8em;
	text-align:left;
}
#top_mainNameContainerNews {
	font-size: 25px;
	width: 10em;
	text-align:right;
}
#top_mainNameContainerTwitter {
	font-size: 25px;
	width: 7em;
	text-align:left;
}
#top_mainContainerFacebook{
		font-size: 25px;
	width: 8em;
	text-align:right;
}

.top_mainName {
	text-align: center;
	color: black;
	margin: 0;
	border-top: 0.2em solid black;
	border-left: 0.2em solid black;
	border-right: 0.2em solid black;
	padding: 0.2em;
	display: inline-block;
}
#top_mainNameNow {
	width: 65px;
}
#top_mainNameNews {
	width: 90px;
}
#top_mainNameTwitter {
	width: 95px;
}
#top_mainNameFacebook{
	width: 120px;
}

.top_mainTryRight {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: bottom;
	border-style: solid;
	border-width: 15px 0 0 30px;
	border-color: transparent transparent transparent #000000;
}
.top_mainTryLeft {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: bottom;
	border-style: solid;
	border-width: 0 0 15px 30px;
	border-color: transparent transparent #000000 transparent;
}

#top_mainNow {
	margin: 0;
	width: 40em;
	margin: 0 auto;
}
#top_mainNews {
	margin: 0;
	width: 40em;
	margin: 0 auto;
}
#top_mainTwitter {
	margin: 0;
	width: 100%;
	margin: 0 auto;
}
#top_mainFacebook{
	margin: 0;
	width: 100%;
	margin: 0 auto;
}

#top_mainNowContens {
	height: 3em;
	width: 80%;
	margin: 0 auto;
	background-color: #767676;
}
#top_mainNewsContens {
	height: 5em;
	width: 70%;
	margin: 0 auto;
	background-color: #ffffff;
}
#top_mainTwitterContens {
	height: 25em;
	width: 70%;
	margin: 0 auto;
	background-color: #ffffff;
}
#top_mainFacebookContens{
	height: 25em;
	width: 70%;
	margin: 0 auto;
	background-color: #ffffff;
}

.top_mainBgc {
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
#top_mainNowBgc {
	height: 8em;
	width: 40em;
	background-color: #FDAA8F;
	top: -5.3em;
}
#top_mainNewsBgc {
	height: 9em;
	width: 40em;
	background-color: #FFD15F;
	top: -7.1em;
}
#top_mainTwitterBgc {
	height: 29em;
	width: 18em;
	background-color: #63FFA0;
	top: -27em;
}
#top_mainFacebookBgc{
	height: 29em;
	width: 9em;
	background-color: #D99AFF;
	top: -27em;
}

/*	
		フッター
					*/
.foot {
	background-color: #000000;
	color: #ffffff;
	height: auto;
	padding: 0.1em 0;
	text-align: center;
}
a.footer {
	color: #ffffff;
	text-decoration: none;
}
.footer_map {
	text-align: center;
}
.footer_mapBox {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	width: 8em;
	padding: 0.5em;
	text-align: center;
}
.footer_linkMain {
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 0.6em;
	width: 6em;
	border-bottom: 0.15em solid white;
}
.footer_linkSubSection {
	text-align: left;
	padding: 0.1em;
}
#footer_linkTop .footer_linkSubSection {
	padding-left: 2em;
}
#footer_linkAbout .footer_linkSubSection {
	padding-left: 0.5em;
	width: 7em;
}
#footer_linkWorks .footer_linkSubSection {
	padding-left: 1.1em;
}
/**
		 フォーム
						**/
.footer_form {
	text-align: center;
}
.form_message {
	vertical-align: top;
}
.form_name {
}
form.footer {
	/* フォームをページの中央に置く */
	margin: 0 auto;
	width: 40em;
	/* フォームの範囲がわかるようにする */
	padding: 1em;
}
#form_contact {
	font-size: 1.4em;
	width: 6em;
	margin: 0em auto;
	border-bottom: 0.15em solid white;
}
form.footer div + div {
	margin-top: 0.05em;
}
input.footer, textarea.footer {
	/* すべてのテキストフィールドのフォント設定を一致させる
       デフォルトで、textarea は等幅フォントが設定されている */
	font: 1em sans-serif;
	/* すべてのテキストフィールドを同じサイズにする */
	width: 30em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* テキストフィールドのボーダーの外見を同一にする */
	border: 1px solid #999;
	background-color: #C0C0C0;
	color: black;
}
.form_send {
	text-align: right;
	width: 30em;
	margin: 0 auto;
}
#footer_submitBtn {
	padding: 0;
	font-size: 1em;
	background-color: #000;
	color: #fff;
	border-style: none;
	cursor: pointer;
}


/**	
		placeholderの装飾
								**/
/* Google Chrome, Safari, Opera 15+, Android, iOS*/
::-webkit-input-placeholder {
 color: black;
 padding-left: 0.5em;
}

/*Firefox 18-*/
:-moz-placeholder {
 color: black;
opacity: 1;
 padding-left: 0.5em;
}

/* Firefox 19+*/
::-moz-placeholder {
 color: black;
opacity: 1;
 padding-left: 0.5em;
}

/* IE 10+*/
:-ms-input-placeholder {
 color: black;
 padding-left: 0.5em;
}
