@charset "UTF-8";
/* ///////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////// */
html, body {
	width:100%;
	height: 100%;
	margin: 0;
}
/*
		ヘッダー
					*/
					
.head {
	magin: 0 aute;
	height: 15%;
}
.head_btn {
	height: 45%;
}
.head_btnLeft {
	float: left;
	height: 100%;
}
#head_mcsLogo {
	max-height: 100%;
	width: auto;
}
.head_btnRight {
	float: right;
	padding: 0;
	height: 100%;
}
.head_btnRight ul {
	padding : 0;
	margin : 0;
}
.head_btnLink {
	float: left;
	height: 90%;
	margin: 0;
	list-style: none;
}
.head_map {
	clear: both;
	text-align: center;
	border-bottom: 0.4em solid #525252;
	padding: 0;
	margin: 0;
	background-color: #DBDBDB;
	height: 50%;
}
.head_map a {
	color: #000000;
	text-decoration: none;
	font-size: 1.2em;
}
.head_map ul {
	margin: 0;
	padding: 0;
	height: 100%;
}
/*マップボタンの幅と位置を管理*/
a.head_mapLink {
	width: 15%;
	padding: 0;
	display: inline-block;
}
.head_mapLink {
	list-style: none;
	height: 100%;
	width: 100%;
}
#head_mapThis {
	background-color: #525252;
	color: white;
}
#head_mapThis a {
	color: #ffffff;
}
/*
		中身		*/
		
		

.top_topWrapper {
	height: 85%;
	background-image: url("top_top.jpg");
	background-size: cover;
	color: white;
	text-align: center;
	position: relative;
}
.top_topMCSWrap {
	height: 90%;
	padding: 17%;
	/*padding:250px 0;*/
	text-align: center;
}
.top_topName {
	margin : auto;
	width: 12em;
	color: black;
	border: 0.15em solid black;
	background-color: rgba(255,255,255,0.7);
}
.top_topKansai {
	font-size: 1em;
	width: 90%;
	border-bottom: 0.15em solid black;
	margin: 0.5em auto;
}
.top_topMCS {
	font-size: 2em;
	margin: 0.1em auto;
}
#top_topUnder {
	height: 6%;
	margin : 0 auto;
	background-image: url("top_topUnder().png");
	background-size: contain;
	position: absolute;
	bottom: 0;
}
.try {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 1em 0 0 2em;
	border-color: transparent transparent transparent #007bff;
}



/*
		Works
					*/
				
.works_mainWrapper{
	margin:0 auto;
	width:100%;
height:200%;	
}
.works_btnWrapper{
	margin:0 auto;
	width:100%;	
	height:33%;
}
.works_btnShort{
	display:inline-block;
	width:20%;height:100%;
	background-image: url("short.png");
	background-size: contain;
	color:#EF090D;
}
.works_btnLong{
	display:inline-block;
	width:79%;height:100%;
	background-image: url("long-on.png");
	background-size: contain;
}
.works_btnLongOn:hover{
	width:100%;height:100%;
	margin:0;
	background-image: url("long.png");
	background-size: contain;
}


/*	
		フッター
					*/
.foot {
	background-color: #000000;
	color: #ffffff;
	height: auto;
	padding: 0.1em 0;
	text-align: center;
}
a.footer {
	color: #ffffff;
	text-decoration: none;
}
.footer_map {
	text-align: center;
}
.footer_mapBox {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	width: 8em;
	padding: 0.5em;
	text-align: center;
}
.footer_linkMain {
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 0.6em;
	width: 6em;
	border-bottom: 0.15em solid white;
}
.footer_linkSubSection {
	text-align: left;
	padding: 0.1em;
}
#footer_linkTop .footer_linkSubSection {
	padding-left: 2em;
}
#footer_linkAbout .footer_linkSubSection {
	padding-left: 0.5em;
	width: 7em;
}
#footer_linkWorks .footer_linkSubSection {
	padding-left: 1.1em;
}
/**
		 フォーム
						**/
.footer_form {
	text-align: center;
}
.form_message {
	vertical-align: top;
}
.form_name {
}
form.footer {
	/* フォームをページの中央に置く */
	margin: 0 auto;
	width: 40em;
	/* フォームの範囲がわかるようにする */
	padding: 1em;
}
#form_contact {
	font-size: 1.4em;
	width: 6em;
	margin: 0em auto;
	border-bottom: 0.15em solid white;
}
form.footer div + div {
	margin-top: 0.05em;
}
input.footer, textarea.footer {
	/* すべてのテキストフィールドのフォント設定を一致させる
       デフォルトで、textarea は等幅フォントが設定されている */
	font: 1em sans-serif;
	/* すべてのテキストフィールドを同じサイズにする */
	width: 30em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* テキストフィールドのボーダーの外見を同一にする */
	border: 1px solid #999;
	background-color: #C0C0C0;
	color: black;
}
.form_send {
	text-align: right;
	width: 30em;
	margin: 0 auto;
}
#footer_submitBtn {
	padding: 0;
	font-size: 1em;
	background-color: #000;
	color: #fff;
	border-style: none;
	cursor: pointer;
}


/**	
		placeholderの装飾
								**/
/* Google Chrome, Safari, Opera 15+, Android, iOS*/
::-webkit-input-placeholder {
 color: black;
 padding-left: 0.5em;
}

/*Firefox 18-*/
:-moz-placeholder {
 color: black;
opacity: 1;
 padding-left: 0.5em;
}

/* Firefox 19+*/
::-moz-placeholder {
 color: black;
opacity: 1;
 padding-left: 0.5em;
}

/* IE 10+*/
:-ms-input-placeholder {
 color: black;
 padding-left: 0.5em;
}
